<link href="https://gmpg.org/xfn/11" rel="profile">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<meta name="google" content="notranslate">

<meta property="og:site_name" content="AI or Human">
<meta property="og:url" content="https://ai-or-human.github.io">
<meta property="og:title" content="AI or Human: Can you tell the difference?">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ site.baseurl }}assets/og.jpg">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="AI or Human: Can you tell the difference?">
<meta name="twitter:url" content="https://ai-or-human.github.io">
<meta name="twitter:description" content="{{ site.description }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">