<div class="navbar media-large">
  <div class="wrapper">
    <a class="emoji-container" href="{{ site.baseurl }}">
      <img class="emoji human" src="{{ site.baseurl }}assets/emoji-human.png" alt="human-emoji">
      <img class="emoji robot" src="{{ site.baseurl }}assets/emoji-ai.png" alt="robot-emoji">
    </a>
    <div class="text-container">
      <div class="title">
        <span>AI or Human</span>
      </div>
    </div>
    <div class="link-container">
      <div class="link">
        {% if include.page == "results-page" %}
          <a href="{{ site.baseurl }}#s-about" target="_blank">About</a>
        {% else %}
          <a href="{{ site.baseurl }}#s-about">About</a>
        {% endif %}
      </div>
      <div class="link">
        {% if include.page == "results-page" %}
          <a href="{{ site.baseurl }}#s-creators" target="_blank">Creators</a>
        {% else %}
          <a href="{{ site.baseurl }}#s-creators">Creators</a>
        {% endif %}
      </div>
      <div class="link">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFHLS_kethylEbu7e5zjEtiTcQMz7Pdxh3tbJU5N1LVHy_xQ/viewform" target="_blank">Contact</a>
      </div>
    </div>
  </div>
</div>
<div class="navbar media-small">
  <div class="wrapper">
    <a class="emoji-container" href="{{ site.baseurl }}">
      <img class="emoji human" src="{{ site.baseurl }}assets/emoji-human.png" alt="human-emoji">
      <img class="emoji robot" src="{{ site.baseurl }}assets/emoji-ai.png" alt="robot-emoji">
    </a>
  </div>
</div>