<div class="page-landing">
	<div class="navbar media-large">
		<div class="wrapper">
			<a class="emoji-container" href="{{ site.baseurl }}">
				<img class="emoji human" src="{{ site.baseurl }}assets/emoji-human.png">
				<img class="emoji robot" src="{{ site.baseurl }}assets/emoji-ai.png">
			</a>
			<div class="text-container">
				<div class="title">
					<span>AI or Human</span>
				</div>
			</div>
			<div class="link-container">
				<div class="link">
					<a href="#s-about">About</a>
				</div>
				<div class="link">
					<a href="#s-creators">Creators</a>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar media-small">
		<div class="wrapper">
			<a class="emoji-container" href="{{ site.baseurl }}">
				<img class="emoji human" src="{{ site.baseurl }}assets/emoji-human.png">
				<img class="emoji robot" src="{{ site.baseurl }}assets/emoji-ai.png">
			</a>
		</div>
	</div>
	<section class="section-hero">
		<div class="hero wrapper">
			<div class="highlight-container media-large">
				<div class="highlight">
					{% for item in site.data.general.mosaic-assets %}
					<div class="item">
						<div class="cover">
							<span>Human?</span>
						</div>
						<img src = {{ item }} >
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="text-container">
				<div class="subtitle media-small">
					<span>AI vs Human</span>
				</div>
				<h1 class="title">
					<span>Can you tell the difference?</span>
				</h1>
				<p class="lead">
					AI-generated media has come to stay and it looks more human than ever. Take our quiz and try to guess the difference between what is AI or Human.
				</p>
				<button onclick="nextPage()">Start the Quiz</button>
			</div>
		</div>
	</section>
	<section class="section-highlight media-small">
		<div class="highlight-container">
			<div class="highlight">
				{% for item in site.data.general.mosaic-assets %}
				<div class="item">
					<div class="cover">
						<span>Human?</span>
					</div>
					<img src = {{ item }} >
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="s-about" class="section-about">
		<div class="wrapper about">
			<div class="text-container">
				<h3 class="heading-caption">The Project</h3>
				<h2>On the internet, nobody knows you're AI</h2>
				<p>AI technological capabilities in terms of generating media have reached an extremely realistic level, the progression of the field feels unstoppable. At the same time, the tools are becoming increasingly accessible to the general public, opening up the future to many possibilities.</p>
			</div>
			<div class="highlight-container">
				<div class="title">
					<span>The Proliferation of Fake News</span>
				</div>
				<div class="content media-large">
					<span>—</span><span class="text-animate-1">Written by Human?</span><span class="text-animate-2">Written by AI</span>
				</div>
				<div class="content media-small">
					<span>-Written by AI</span>
				</div>
				<div class="content media-large">
					<p>The "fake news" news epidemic afflicts people of all backgrounds—from Democrats to Republicans. Not only has this the form of fake news become more pervasive than ever before, it has also become a game in which news consumers are competing for access to legitimate sources, according to a new report from the National Newspaper Publishers Association (NNPA).</p>
				</div>
				<div class="content media-small">
					<p>Like a news story about that agency versus that company, it is more interesting than the real story. The many, many agendas the deep state is working on while picking sides in the election are numerous, and they are in various ways related to maintaining the flow of "fake news."</p>
				</div>
			</div>
		</div>
	</section>
	<section id="s-creators" class="section-creators">
		<div class="wrapper creators">
			<div class="text-container">
				<h3 class="heading-caption">Crafted by</h3>
				<h2>Mostly humans</h2>
			</div>
			<div class="creators-container">
				{% for creator in site.data.general.creators %}
				<div class="item media-large">
					<div class="photo">
						<a href="{{ creator.href }}" target="_blank" class="cover">
							<img src={{ creator.photo-3 }}>
						</a>
						<img src={{ creator.photo-1 }}>
					</div>
					<div class="text">
						<h3>{{ creator.full-name }}</h3>
						<span>{{ creator.desc }}</span>
					</div>
				</div>
				<div class="item media-small">
					<div class="item-container">
						<div class="details">
							<h3>{{ creator.name }}</h3>
							<span>{{ creator.desc }}</span>
						</div>
						<img src={{ creator.photo-2 }}>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<div class="footer">
		<div class="wrapper">
			<span>AI or Human is made for a <a href="http://dclead.eu/" target="_blank">DCLead</a> / <a href="https://www.en.cph.aau.dk/" target="_blank">AAU Copenhagen</a> semester project. All answers will be collected for research purposes. All data for research is collected anonymously.</span>
		</div>
	</div>
</div>