.page-landing{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;

	text-align: center;

	background: $clr-background;

	.focus{
		margin-top: 12.5%;
		padding: 0 5%;

		@include respond-at($bp-large){
			margin-top: 10%;
		}

		.emoji-container{
			margin-bottom: 1rem;

			@include respond-at($bp-large){
				margin-bottom: 1.5rem;
			}
		}

		.emoji{
			width: 160px;

			@include respond-at($bp-large){
				width: 200px;
			}

			&.human{
				position: absolute;
				animation: blink-animation-human steps(1, start) 1s infinite;
				animation-delay: 2s;
			}

			&.robot{
				visibility: hidden;
				animation: blink-animation-robot steps(1, start) 1s infinite;
				animation-delay: 2s;
			}
		}

		.title{
			margin-bottom: 32px;

			font-size: 2.5rem;
			font-weight: bold;
			color: $clr-text-primary;

			@include respond-at($bp-large){
				font-size: 3.5rem;
			}
		}

		.subtitle{
			margin-bottom: 24px;

			font-size: 1.5rem;
			text-transform: uppercase;
			color: white;
			font-weight: bold;

			span{
				background: $clr-accent;
			}
		}
	}

	button{

		padding: 8px 32px;

		font-size: 1.25rem;
		font-weight: bold;
		color: #fff;

		border: 0;
		border-radius: 0.5rem;

		background: $clr-accent;

		transition: 0.3s;

		&:hover{
			box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
		}
	}
}

@keyframes blink-animation-human{
	0% {visibility: visible;}
	50% {visibility: hidden;}
	100% {visibility: visible;}
}

@keyframes blink-animation-robot{
	0% {visibility: hidden;}
	50% {visibility: visible;}
	100% {visibility: hidden;}
}