.page-landing{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	overflow: scroll;

	background: white;

	.section-hero{

		.hero{
			display: flex;
			flex-flow: row wrap;

			margin-top: 2.5%;

			@include respond-at($bp-large){
				margin-top: 5%;
			}

			.text-container{
				order: 1;

				width: 100%;

				@include respond-at($bp-large){
					max-width: 60%;

					padding-right: 3rem;
				}

				.subtitle{
					margin-bottom: 1rem;

					font-size: 1rem;
					text-transform: uppercase;
					color: white;
					font-weight: bold;

					span{
						padding: 0.2rem 0.4rem;

						background: $clr-accent;
					}
				}

				.title{
					color: $clr-text-primary;
				}

				.lead{
					margin-bottom: 2rem;
				}
			}

			.highlight-container{
				order: 2;

				flex: 0 0 40%;
				max-height: 30rem;

				margin-top: -2rem;

				overflow: hidden;

				.highlight{
					display: flex;
					flex-flow: column wrap;

					width: 100%;
					height: 100%;

					padding: 0.25rem;

					.item{
						position: relative;
						flex: auto;

						width: 22.5%;

						margin: 0.25rem;

						background: white;
						border-radius: 0.25rem;

						overflow: hidden;

						.cover{
							display: flex;
							align-items: center;
							justify-content: center;

							position: absolute;
							top: 0;
							left: 0;

							width: 100%;
							height: 100%;

							font-size: 1rem;
							color: white;
							font-weight: bold;

							opacity: 0;

							transition: 0.15s;

							&:hover{
								background-color: $clr-accent;
								opacity: 0.75;
							}
						}

						img{
							object-fit: cover;

							width: 100%;
							height: 100%;

							border-radius: 0.25rem;
						}

						&:nth-child(1), &:nth-child(6), &:nth-child(12), &:nth-child(13){
							height: 15%;
						}

						&:nth-child(2), &:nth-child(11){
							height: 25%;
						}

						&:nth-child(5){
							height: 33%;	
						}
					}
				}
			}
		}
	}

	.section-highlight{
		background: #f6f6f6;

		.highlight-container{
			padding: 2.5rem 0;
			margin-left: -10rem;

			overflow: hidden;

			.highlight{
				display: flex;
				flex-flow: column wrap;

				width: 100%;
				height: 16rem;

				padding: 0.25rem;

				.item{
					position: relative;
					flex: auto;

					width: 22.5%;

					margin: 0.25rem;

					background: white;
					border-radius: 0.25rem;

					overflow: hidden;

					.cover{
						display: flex;
						align-items: center;
						justify-content: center;

						position: absolute;
						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						font-size: 1rem;
						color: white;
						font-weight: bold;

						background-color: $clr-accent;

						opacity: 0;
					}

					img{
						object-fit: cover;

						width: 100%;
						height: 100%;

						border-radius: 0.25rem;
					}

					&:nth-child(1), &:nth-child(6), &:nth-child(12), &:nth-child(13){
						height: 15%;
					}

					&:nth-child(2), &:nth-child(11){
						height: 25%;
					}

					&:nth-child(5), &:nth-child(8){
						height: 33%;
					}

					&:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(8), &:nth-child(12){
						.cover{
							opacity: 0.75;
						}	
					}
				}
			}
		}
	}

	.section-about{
		
		.about{
			display: flex;
			flex-flow: row wrap; 

			.text-container{
				order: 1;

				width: 100%;

				@include respond-at($bp-large){
					order: 2;

					max-width: 60%;

					padding: 2rem 0 0 6rem;
				}
			}

			.highlight-container{
				order: 2;

				width: 100%;

				margin: 1.5rem 0;
				padding: 1.5rem;

				border-radius: 0.75rem;
				box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

				@include respond-at($bp-large){
					order: 1;

					flex: 0 0 40%;
				}

				.title{
					margin-bottom: 0.5rem;

					font-size: 1.5rem;
					font-family: monospace;
					font-weight: bold;
					letter-spacing: -0.025rem;
				}

				.content{
					p{
						margin-bottom: 0;

						font-size: 1rem;
						font-family: monospace;
						line-height: 2;
					}
				}

				.text-animate{
					display: inline-block;

					position: relative;

					overflow: hidden;
					white-space: nowrap;

					font-family: monospace;
					font-style: italic;

					animation: typewriter;
					animation-duration: 10s;
					animation-timing-function: steps(25, end);
					animation-iteration-count: infinite;

					&::after{
						content: "|";
						position: absolute;
						right: -0.1rem;
						opacity: 0;
						font-style: italic;

						animation: caret infinite;
						animation-duration: 1s;
						animation-timing-function: steps(1, end);
					}
				}
			}
		}
	}

	.section-creators{
		background: #f6f6f6;

		.creators{
			text-align: center;

			.creators-container{
				display: flex;
				flex-flow: row wrap;

				width: 100%;

				.item{
					flex: auto;

					width: 100%;

					margin: 1.5rem 0 0 0;

					@include respond-at($bp-small-3){
						width: auto;

						margin: 1.5rem 2.5%;
					}

					&:first-child{
						margin-left: 0;
					}

					&:last-child{
						margin-right: 0;
					}

					.photo{
						display: inline-block;

						width: 8rem;

						border-radius: 5%;
						overflow: hidden;

						@include respond-at($bp-large){
							width: 10rem;
						}

						img{
							width: 100%;
						}
					}
				}
			}
		}
	}

	button{

		padding: 8px 32px;

		font-size: 1.25rem;
		font-weight: bold;
		color: #fff;

		border: 0;
		border-radius: 0.5rem;

		background: $clr-accent;

		transition: 0.3s;

		&:hover{
			box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
		}
	}
}

@keyframes blink-animation-human{
	0% {visibility: visible;}
	50% {visibility: hidden;}
	100% {visibility: visible;}
}

@keyframes blink-animation-robot{
	0% {visibility: hidden;}
	50% {visibility: visible;}
	100% {visibility: hidden;}
}

@keyframes typewriter{
	0%, 100%{
		width: 0;
	}

	20%, 80%{
		width: 7.4rem;
	}
}

@keyframes caret{
	0%, 100%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}
}