.page-results{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;

	text-align: center;

	background: $clr-background;

	.section-total{
		.result{
			&.total{

				padding: 10% 7.5% 5% 7.5%;

				justify-content: center;
				align-items: center;

				@include respond-at($bp-large){
					padding: 5% 10% 2.5% 10%;
				}

				.badge-container{
					width: 100%;

					.badge{
						display: inline-block;

						width: 7rem;
						height: 7rem;

						color: white;
						line-height: 7rem;

						background: $clr-accent;

						border-radius: 0.5rem;

						span{
							font-size: 2.5rem;
							font-weight: bold;
						}
					}
				}

				.overview-container{
					.title{
						margin: 1.5rem 0 0.75rem 0;

						font-size: 2.5rem;
						color: $clr-text-primary;
					}

					.desc{
						@include respond-at($bp-large){
							margin-top: 1rem;
							padding: 0 10%;
						}

						.text-lead{
							span{
								font-size: 1rem;
								color: $clr-text-secondary;

								@include respond-at($bp-large){
									font-size: 1.375rem;
								}
							}
						}

						.desc-item{
							display: inline-block;
							margin: 0.75rem;

							@include respond-at($bp-xl){
								margin: 1rem;
							}

							.text{
								padding: 0.75rem 0.75rem 0.5rem 0.75rem;
								font-size: 2.5rem;
								font-weight: bold;
								color: $clr-text-primary;

								@include respond-at($bp-large){
									padding: 1rem 1rem 0.5rem 1rem;
									font-size: 2.875rem;
								}

								.percentage{
									margin-right: -0.875rem;

									font-size: 1.5rem;
									color: $clr-text-secondary;
								}
							}

							.label{
								font-size: 0.875rem;
								font-weight: bold;
								color: white;

								@include respond-at($bp-large){
									font-size: 1rem;
								}

								span{
									padding: 0.2rem 0.4rem;
									background: $clr-accent;
								}
							}
						}
					}
				}
			}
		}
	}

	.section-breakdown{
		padding: 1.5rem;

		.result{
			&.breakdown{
				@include respond-at($bp-large){
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					align-content: flex-start;
				}

				.result-item{
					flex: auto;
					position: relative;

					width: 100%;

					margin-bottom: 1rem;
					padding: 0.5rem;

					background-color: white;

					border-radius: 0.75rem;
					box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

					.indicator{
						position: absolute;

						top: -0.5rem;
						right: -0.5rem;

						width: 2rem;
						height: 2rem;

						background: lightgrey;

						border-radius: 0.25rem;

						&.correct{
							background: $clr-correct;
						}

						&.wrong{
							background: $clr-wrong;
						}
					}

					@include respond-at($bp-large){
						margin: 1rem;

						border-radius: 0.5rem;

						&.text{
							max-width: 45%;
						}

						&.image{
							min-width: 22%;
							max-width: 22%;
						}
					}

					.question-title{
						margin-bottom: 1rem;

						font-weight: bold;
						text-transform: uppercase;
						color: $clr-text-secondary;
					}

					.image-container{
						margin-bottom: 1rem;

						img{
							width: 100%;
							min-height: 100%;
						}
					}

					.text-container{
						text-align: left;

						padding: 1rem 1rem 0 1rem;

						.text-title{
							max-height: 6rem;

							margin-bottom: 0.5rem;

							font-size: 1.2rem;
							font-weight: bolder;
							line-height: 2rem;

							overflow: hidden;

							@include respond-at($bp-large){
								max-height: 7.2rem;

								margin-bottom: 1rem;

								font-size: 1.5rem;
								line-height: 2.4rem;
							}

							span{
								background: lightgrey;
							}
						}

						.text-content{
							max-height: 4.5rem;

							margin-bottom: 0.5rem;

							line-height: 1.5rem;

							overflow: hidden;

							@include respond-at($bp-small-3){
								max-height: 6rem;
							}

							@include respond-at($bp-med-2){
								max-height: 7.5rem;
							}

							@include respond-at($bp-large){
								max-height: 9rem;

								margin-bottom: 1rem;
							}

							@include respond-at($bp-xl){
								max-height: 10.5rem;

								margin-bottom: 1rem;
							}
						}
					}

					.desc{
						text-align: left;

						.desc-item{
							display: block;

							margin: 0.4rem 0.6rem;

							text-align: left;

							text-overflow: ellipsis;
							overflow: hidden;

							&:last-child{
								margin-bottom: 1rem;
							}

							img{
								width: 1.25rem;

								margin-right: 0.25rem;

								@include respond-at($bp-large){
									width: 1.5rem;
								}
							}

							span, a{
								font-size: 0.875rem;
								line-height: 1.25rem;
								vertical-align: middle;

								@include respond-at($bp-large){
									font-size: 1rem;
									line-height: 1.5rem
								}
							}
						}
					}
				}
			}

		}
	}
}