---
---

@import
	'base/_variables';

@import
	'utils/_media-query';

@import
	'vendors/bootstrap-reboots';

@import
	'layout/_default';

@import
	'pages/participants-data',
	'pages/landing-page',
	'pages/question';

body{
	font-family: sans-serif;
}

.page{
	display: none;
	transition: 0.3s;
}