<!DOCTYPE html>
<html lang="en-us">

{% include _head.html %}

<body onload="start()">
  <section id="page0" class="page show">
  {% include _navbar.html %}
  {% include landing-page.html %}
  {% include _footer.html %}
  </section>
  {% for page in site.pages %}
  <section id="page{{page.pageNo}}" class="page" value="{{ page.layout }}">
    {% if page.layout == "instructions" %}
    {% include instructions.html %}
    {% endif %}

    {% if page.layout == "question" %}
    {% include question.html 
      question-title=page.question-title 
      question-text=page.question-text 
      button=page.button 
      page=page.pageNo
      type=page.type
      content-set=page.content-set
    %}
    {% endif %}

    {% if page.layout == "results-page" %}
    {% include _navbar.html
      page=page.layout
    %}
    {% include results-page.html %}
    {% include _footer.html %}
    {% endif %}
  </section>
  {% endfor %}

  {% include _scripts.html %}
</body>

</html>
