<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body onload="start()">
  <div>
    {% for page in site.pages %}
    <section id="page{{page.pageNo}}" class="page" value="{{ page.layout }}">
      {% if page.layout == "landing-page" %}
      {% include landing-page.html %}
      {% endif %}

      {% if page.layout == "instructions" %}
      {% include instructions.html %}
      {% endif %}

      {% if page.layout == "question" %}
      {% include question.html 
        question-title=page.question-title 
        question-text=page.question-text 
        button=page.button 
        page=page.pageNo
        type=page.type
        content-set=page.content-set
      %}
      {% endif %}

      {% if page.layout == "results-page" %}
      {% include results-page.html %}
      {% endif %}
    </section>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {% include firebase.html %}
  {% include variables.html %}
  <script defer src="js/app.js"></script>
</body>

</html>
