//Colors
$clr-accent: #E7197C;
$clr-correct: #33cd32;
$clr-wrong: #f73f3f;
$clr-text-primary: #000; //#162353;
$clr-text-secondary: #757575;
$clr-background: white;
$clr-footer: #202025;

//Breakpoints
$bp-small: 24em;
$bp-small-2: 29.75em;	
$bp-small-3: 39.8em;

$bp-med: 46.8em;
$bp-med-2: 48em;

$bp-large: 50em;
$bp-large-2: 54.5em;

$bp-xl: 60em;
$bp-xl-2: 67em;
$bp-xl-3: 78.5em;